.result-peerreview{
    font-family: 'Kumbh Sans', sans-serif;
    display: "flex";
    margin-bottom: 10vh;
    top:9vh;
    font-weight: 800;
    font-size: 100%;
    background-color: transparent;
}

.question-peerreview{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 10%;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
  background-color: white;
  border-radius: 2vh;
  width: 120vh;
  height: 80vh;
  margin: 0 auto;
  font-family: 'Kumbh Sans', sans-serif;
}
.review-container h4{
  margin-top: -2vh;
  font-size: 80%;
  align-items: center;
  justify-content: center;
}



.evaluation-button {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 2vw; 
  border: none;
  border-radius: 2.5vw; 
  color: white;
  padding: 1vw 3vw; 
  margin: 1vw 0;
  cursor: pointer;
  transition: 0.3s;
  width: 30vw; 
}


::placeholder {
    color: black;
  }

  .input-feed::-webkit-input-placeholder {
    color: black;
  }
  
  .input-feed::-moz-placeholder {
    color: black;
  }
  
  .input-feed:-ms-input-placeholder {
    color: black;
  }

  .backtofeed-button-peer {
    background-color: #92C5BB;
    border: none;
    border-radius: 2.5vw; 
    color: black;
    cursor: pointer;
    font-size: 2vw; 
    font-weight: 500;
    transition: 0.3s;
    width: 20vw; 
    height: 8vh; 
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 40vh;
  }

  .congratulations-peer {
    display: flex;
    flex-direction: row;
    width: 110vw; 
    height: 60vh;
    margin-top: 0%;
    font-family: 'Kumbh Sans', sans-serif;
  }
  
  .righthand_peerreview {
    margin-right: 5vw;
    width: 8vw;
    height: 12vh;
    margin-top: 40vh;
  }
  
  .lefthand_peerreview {
    margin-left: 35vw;
    width: 8vw;
    height: 12vh;
    margin-top: 40vh;
  }
  
.quetions{
  align-items: center;
  margin-left: 15vw;
  height: 50vh;
  width: 50vw;
}
  